{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_friend.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" title="default"/>
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/dashboard_alternate.css' %}" title="alternate"/>
    <script type="text/javascript" src="{% static 'js/styleswitcher.js' %}"></script>

    <title>
        {% block title %} LingedIn | {{ app_title }} {% endblock %}
    </title>
</head>

<body id="body">
    <header>
        {% include "dashboard/partials/header.html" %}
    </header>

    <content>
    <section>
      <div class="container" style="padding-top: 65px; ">
            <div class="border">
              {% block content %}
                  <!-- content goes here -->
              {% endblock %}
            </div>
      </div>
    </section>
    </content>

    <footer class="footer">
        {% block footer %}
        {% include "dashboard/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="application/javascript">
      $(function() {
          $('a[href*="#"]:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html, body').animate({
                  scrollTop: target.offset().top - 55
                }, 1000);
                return false;
              }
            }
          });
        });
    </script>
</body>
</html>
