#body {
  background-color: #4ac460;
  min-height: 400px;
  margin-bottom: 50px;
  clear: both;
}
.border{
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
  border-color: white;
  padding: 2em;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.theme-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 20px;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  max-width: 50%;
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  text-align: center;
}
.flex-item-title{
  font-size: 30px;
  color: white;
}
.flex-item-desc{
  font-size: 20px;
  margin-left: 50px;
  text-align: right;
  color: white;
}
.harold-large{
  margin: 50px 50px 50px 50px;
}
.harold-name-large{
  font-size: 40px;
  margin-left: 50px;
  text-align:center;
  color: white;
}
.harold-image-large{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.harold-small{
  margin: 25px 50px 25px 50px;
}
.harold-name-small{
  font-size: 30px;
  margin-left: 50px;
  text-align:center;
  color: white;
}
.harold-image-small{
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
.latest-status-title{
  display:inline-block;
  font-size: 30px;
  margin-left: 50px;
  margin-top: 25px;
  text-align:center;
  color: white;
}
.latest-status-value{
  display:inline-block;
  font-size: 16px;
  margin-left: 50px;
  text-align:left;
  color: white;
  width: auto;
  height: 100px;
  overflow: auto;
}
.change-theme-button{
  font-size: 16px;
  color:white;
  text-decoration:none;
  max-width: 50%;
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
  border-color: white;
  padding: 2em;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.change-theme-button:link
{
   color: white;
   text-decoration: none;
}
.change-theme-button:visited
{
   color: white;
   text-decoration: none;
}
.change-theme-button:hover
{
   color: white;
   text-decoration: none;
   transform: translate(0, -5px);
   -webkit-animation: neon 1.5s ease-in-out infinite alternate;
}
.change-theme-button:active
{
   color: white;
   text-decoration: none;
}
@-webkit-keyframes neon {
  from {
    box-shadow: 0 0 0px #ffffff;
  }
  to {
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
  }
}
@media only screen and (max-width: 768px) {
  .latest-status-value{
    width: auto;
    height: 100px;
  }
}
.latest-status-date{
  display:inline-block;
  font-size: 16px;
  margin-left: 50px;
  text-align:center;
  color: #e3ede3;
}

.panelhover:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00721a;
  color: white;
  text-align: center;
}
