<nav class="navbar navbar-default navbar-fixed-top bg-faded" style="background-color: #ffffff;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <img src={{lingedin_logo_url}} height="50" width="150"></img>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="right: 0px; position: absolute;">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="/update-status/">Status</a></li>
        <li><a href="/biodata/">Profile</a> </li>
        <li><a href="/add-friend/">Friends</a> </li>
        <li><a href="/dashboard/">Stats</a> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
