#put_friend {
  text-align: center;
  position: relative;
}

#put_friend #judulnya {
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}

#put_friend form #jenis {
  width: 100px; 
  text-align: left;
}

#put_friend form #isiannya input {
  width: 920px; 
}

#tombol_submit {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 935px;
  text-align: right;
}

#list_friend {
  text-align: center;
}

#add_friend-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#my-list{
  background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
}
#my-list #list_friend{
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  margin-left: -90px;
}

.friend-list{
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 15;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.friend-list:after{
    content:"";
    display:block;
    height:25px; /* Which is the padding of div.container */
    background: #fff;
}
#add_friend-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: 76px;
  margin-left: -15px;

}
#add_friend-flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  flex-wrap: wrap;
}

.friend-list {
  background: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%);
}

.friend-list .friend-list-image .friend-list-image-src{
  margin-top: 10px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.friend-list .friend-list-name {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 10px 0;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.friend-list .friend-list-date-added {
    font-size: 12px;
  	padding: 0 10px;
    margin-bottom: 10px;
}
.friend-list .friend-list-url {
  background: #fff;
  padding: 10px 25px;
  z-index: 15;
  font-size: 15px;
  height: 90px;
  text-align: center;
  overflow: auto;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.friend-list .friend-list-delete {
  background: #AE2003;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 50px;
  bottom: 1px;
  position: absolute;
  cursor: pointer;
  z-index: -1;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.friend-list:hover .friend-list-delete {
  bottom: -50px;
}
.friend-list .friend-list-delete:hover {
  -webkit-box-shadow: 0 12px 10px 15px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 12px 10px 15px rgba(0, 0, 0, 1);
  box-shadow: 0 12px 10px 10px rgba(174, 32, 3, 1);
  -webkit-transform: translate(0, -5px);
  -moz-transform: translate(0, -5px);
}


@media only screen and (max-width: 480px) {

  #put_form form {
    width: 290px;
  }

  #put_friend form #isiannya input{
    width: 200px; 
  }

  #tombol_submit {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 210px;
  text-align: center;
}

  #my-list #list_friend{
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  margin-left: 0px;
  }

  #add_friend-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
  }

  .friend-list .friend-list-name {
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .friend-list:hover .friend-list-delete {
    bottom: -50px;
  }
  #add_friend-flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }

  .friend-list .friend-list-image .friend-list-image-src{
  margin-top: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  }
}

.friend-list:hover {
    box-shadow: 0 12px 25px 15px rgba(2, 123, 170, 1);
    transform: translate(0, -5px);
}