{% extends "dashboard/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<h3 style="font-family: Comic Sans Ms; font-size: 30px;  text-align: left; color: white  "> Update Status</h3>

<br>

<div class="container">
    <form method="POST" action="add-status/">
        {% csrf_token %}
            <tr>
                <td>
                    <textarea type="text" name="status" placeholder="Enter your status....." style="width: 1050px; height: 100px; text-align: left; border: 2px solid lightgreen; border-radius: 4px; resize: none" max="200"></textarea> 
                </td>
            </tr>
            <br>
        <br>
        <button class="panelhover" type="submit" value="go redirect" style="background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; cursor: pointer; border-radius: 50%" >Update Status</button>
    </form>
</div>
<br><br>

<div class="container">
    {% for data in status_dict reversed %}
    <div class="rows">
    <div class="panel-group">
        <div class="panel panel-success" style="margin-right: 90px">
            <div class="panel-heading" style="background-color: #5e6566; color: white"> Hide The Pain Harold</div>
            <div class="panel-body" style="max-width: 10; word-wrap: break-word; background-color: lightgreen">{{ data.status }}</div>
            <div class="panel-footer" class="btn-group">{{ data.date }}
            <button onclick="location.href = 'http://www.google.com'">Comment</button>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
