{% extends "dashboard/layout/base.html" %}
{% block content %}
<div align="center">
<body>
</div>
<img src={{harold_image_url}} alt = "image" style="border-radius: 50%; 50px; display: block; margin: 0 auto" height="250" width="250"/>
<div align="center">
<h1 style="font-size: 200%; font-family: Arial; color: White; letter-spacing: 1px;"> {{name}} </h1>
</div>
<div align ="Center">
<table>
    <tbody style="letter-spacing: 1px; border-spacing: 1px;line-height: 350%;">
    <tr>
        <td style= "color: White; font-size: 115%; font-family: Arial; width: 15%;"> Birthday </td>
        <td style= "color: White; font-size: 115%; font-family: Arial;">    : </td>
        <td style= "color: White; font-size: 115%; font-family: Arial;"> {{birth_date}} </td>
    </tr>
    <tr>
        <td style= "color: White; font-size: 115%; font-family: Arial; width: 15%;"> Gender </td>
        <td style= "color: White; font-size: 115%; font-family: Arial;">    :  </td>
        <td style= "color: White; font-size: 115%; font-family: Arial;"> {{gender}} </td>
    </tr>
    <tr>
        <td style= "color: White; font-size: 115%; font-family: Arial; width: 15%;"> Expertise </td>
        <td style= "color: White; font-size: 115%; font-family: Arial;">    :  </td>
        <td style= "color: White; font-size: 115%; font-family: Arial;">
            <span id = "Expertise" style= "color: White; font-size: 115%;">
                {% for ii in expertise %}
                  <span class="badge" style= "background-color: Green; border-spacing: 10px;"> {{ii}} </span>
                {% endfor %}
            </span>
        </td>
    </tr>
    <tr>
        <td style= "color: White; font-size: 115%; font-family: Arial; width: 15%;"> Description </td>
        <td style= "color: White; font-size: 115%; font-family: Arial;">    :  </td>
        <td style= "color: White; font-size: 115%; font-family: Arial;"> {{about}}</td>
    </tr>
    <tr>
        <td style= "color: White; font-size: 115%; font-family: Arial; width: 15%;"> Email </td>
        <td style= "color: White; font-size: 115%; font-family: Arial;">    :  </td>
        <td style= "color: White; font-size: 115%; font-family: Arial;"> {{email}} </td>
    </tr>
</tbody>
</table>
</div>
</body>

{% endblock %}
