{% extends "dashboard/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add_friend.css' %}" />
<section name="put-friend" id="put_friend">
    <h3 id="judulnya">Add Friend</h3>
    <form method="POST" action="adding_friend/" >
        {% csrf_token %}
        <table align="center">
            <tr>
                <td id="jenis">
                    Nama
                </td>
                <td id="isiannya">
                    <input type="text" name="name" id="name" required="required" placeholder="Nama anda" oninvalid="this.setCustomValidity('Tolong masukkan nama anda dengan benar')" oninput="setCustomValidity('')"/>
                </td>
            </tr>
            <tr>
                <td id="jenis">
                    URL
                </td>
                <td id="isiannya">
                    <input type="url" name="url" id="url"  required="required" placeholder="Url anda (gunakan http:// disebelum urlnya)" oninvalid="this.setCustomValidity('Gunakan http:// di sebelum url yang akan anda masukkan')" oninput="setCustomValidity('')"/>
                </td>
            </tr>
        </table>
        <button type="submit" id="tombol_submit" class="button btn-default">Add Friend</button>
    </form>
</section>
<section class="friend" id="my-list">
     <div class="container" id="add_friend-container">
        <h3 id="list_friend">List Friend</h3>
        <div class="flex" id="add_friend-flex">
            {% if friend %}
                {% for data in friend %}
                    <div class="flex-item" id="add_friend-flex-item">
                        <div class="friend-list">
                            <div class="friend-list-image">
                                <img class="friend-list-image-src" src="http://www.helpmeforum.net/profile_img/no-profile.png">
                            </div>
                            <div class="friend-list-name">
                                {{data.name}}
                            </div>
                            <div class="friend-list-date-added">
                                {{data.created_date}}
                            </div>
                            <div class="friend-list-url">
                                <a href="{{data.url}}">{{data.url}}</a>
                            </div>
                            <div class="friend-list-delete">
                                <div class="friend-list-delete-button" data-id="{{data.id}}">Delete</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data teman.
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
