{% extends "dashboard/layout/base.html" %}
{% block content %}
<h1 style="color:white">{{app_title}}</h1>

<div>
    <div class="harold-large">
      <img src={{harold_image_url}} class="harold-image-large"/>
      <span class="harold-name-large">{{harold_name}}</span>
    </div>

    <div class="flex">
      <div class="flex-item">
        <b class="flex-item-title">Friends</b>
        <span class="flex-item-desc">{{friends_count}} People</span>
      </div>

      <div class="flex-item">
        <b class="flex-item-title">Feed</b>
        <span class="flex-item-desc">{{feeds_count}} Post</span>
      </div>
    </div>

    {% if latest_status %}
      <div class="latest-status">
        <span class="latest-status-title">Latest Status</span>
        <div class="harold-small">
          <img src={{harold_image_url}} class="harold-image-small"/>
          <span class="harold-name-small">{{harold_name}}</span>
        </div>

        <div class="latest-status-content">
          <span class="latest-status-value">{{latest_status.status}}</span>
          <span class="latest-status-date">{{latest_status.date}}</span>
        </div>
      </div>
    {% endif %}

    <div class="theme-flex">
      <a class="change-theme-button" href="#" onclick="setActiveStyleSheet('default'); return false;">Regular Theme</a>
      <a class="change-theme-button" href="#" onclick="setActiveStyleSheet('alternate'); return false;">Regular Theme but Slightly Different</a>
    </div>

</div>
{% endblock %}
